<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <title>Document</title>
  </head>
  <body>
    <div>
      <div style="width: 200px; height: 700px; background-color: gray;">
        <div style="margin-top: 25px; margin-left: 200px; width: 650px; height: 50px; background-color: gray;">    
            <button style="margin-top: 15px; margin-left: 550px;" type="button">ออกจากระบบ</button>
            <div>
                <h4 style="text-align: center" >เพิ่มพนักงาน</h4>
                <form style="margin-left: 10px" action="">
                    <input style="margin-left: 10px; width: 300px;" type="text" placeholder="ชื่อ">
                    <input style="margin-left: 10px; width: 300px;" type="text" placeholder="นามสกุล">
                    <input style="margin-top: 10px; margin-left: 10px; width: 618px;" type="text" placeholder="เลขบัตรประจำตัวประชาชน">
                    <br>
                    <input style="margin-left: 10px; margin-top: 10px;" type="date" placeholder="วันเกิด">
                    <input style="width: 470px" type="text" placeholder="เบอร์โทรศัพท์">
                    <br>
                    <input style="width: 620px; margin-left: 10px; margin-top: 10px;" type="text" placeholder="ตำแหน่ง">
                    <textarea style="margin-left: 10px; margin-top: 10px;" placeholder="ที่อยู่" name="" id="" cols="30" rows="10"></textarea>
                    <!-- <input style="margin-left: 10px; width: 620px; margin-top: 10px; height: 300px;" type="text" placeholder="ที่อยู่"> -->
                    <br>
                    <button style="height: 30px; width: 150px; margin-left: 10px; margin-top: 10px;" >ยกเลิก</button> 
                    <button style="height: 30px; width: 150px; margin-left: 320px; margin-top: 10px;">บันทึก</button>
                </form>
            </div>
        </div>
        <div style="margin-left: 25px;">
            <img style="width: 150px" src="../assets/img/01-1.jpg" alt="">
            <a href="#"> <li style="margin-top: 20px; color: black">หน้าหลัก</li></a>
            <a href="#"> <li style="margin-top: 20px; color: black">จัดการพนักงาน</li></a>
            <a href="#"> <li style="margin-top: 20px; color: black">จัดการลูกค้า</li></a>
            <a href="#"> <li style="margin-top: 20px; color: black">จัดการการขาย</li></a>
            <a href="#"> <li style="margin-top: 20px; color: black">จัดการการซื้อ</li></a>
            <a href="#"> <li style="margin-top: 20px; color: black">จัดการการซ่อม</li></a>
            <a href="#"> <li style="margin-top: 20px; color: black">จัดการกาเดินทะเบียน</li></a>
            <a href="#"> <li style="margin-top: 20px; color: black">จัดการข้อมูลรถ</li></a>
        </div>
      </div>
    </div>
  </body>
</html>
